.wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 8px;
}

.formContain {
  width: 70%;
}

.formContain .header {
  align-items: center;
}

.formContain .header img {
  margin-bottom: 20px;
}

.formContain .header div:last-child {
  align-items: center;
  background: linear-gradient(90.37deg, #f2d8ff 25.39%, #ffdede 72.3%);
  display: flex;
  font-family: Roboto;
  height: 32px;
  justify-content: center;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-left: 14px;
  padding: 8px 10px;
  width: 100%;
}

.formContain .header div:last-child h4 {
  color: rgba(181, 26, 174, 0.65);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.formContain .textContain {
  margin-bottom: 10px;
}

.formContain .textContain h3 {
  color: var(--dark-purple);
  font-size: 32px;
}

.formContain .textContain h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}

.formContain .textContain p {
  color: var(--primary);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.formContain hr {
  border: 2px solid #f2d8ff;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
}

.form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.form .groupContain {
  width: 48%;
}

.formContain .confirmation input {
  border: 2px solid rgba(181, 26, 174, 0.65);
  border-radius: 1px;
  margin-right: 10px;
}

.formContain .confirmation p {
  color: var(--primary);
  font-family: Roboto;
  font-weight: 300;
  font-size: 13px;
}

.formContain .reset {
  justify-content: flex-end;
}

.formContain .reset .resetPassText {
  color: var(--dark-purple);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.formContain .reset .resetPassLink {
  align-self: flex-end;
  font-family: Roboto;
  text-decoration-line: underline;
}

.formContain .confirmation span {
  font-weight: 700;
}

.formContain .links {
  justify-content: space-between;
}

.formContain .links a {
  color: var(--dark-purple);
  font-family: Roboto;
  font-weight: 700;
  text-decoration: underline;
}

.illustration {
  position: relative;
  left: 70px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    align-items: center;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: center;
    padding: 30px auto;
  }

  .formContain .header {
    flex-direction: column;
    width: 100%;
  }

  .formContain .header div:last-child {
    margin-left: 0px;
    padding: 8px 10px;
    width: 100%;
  }

  .formContain .header div:last-child h4 {
    font-size: small;
    text-align: center;
  }

  .formContain .textContain {
    text-align: center;
  }

  .form {
    flex-direction: column;
    width: 100%;
  }
  /* 
  .form {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  } */

  .form .groupContain {
    width: 100%;
  }

  .formContain .links {
    align-items: flex-start;
    flex-direction: column;
  }

  .formContain .links a {
    margin-bottom: 10px;
  }

  .formContain .reset {
    justify-content: center;
  }

  .illustration {
    margin: 10px auto;
    position: inherit;
  }

  .illustration img {
    height: 200px;
    width: 200px;
  }
}
