/* Hero styles*/
.hero {
  background: linear-gradient(90.37deg, #f2d8ff 25.39%, #ffdede 72.3%);
  border-radius: 20px;
  width: 100%;
}

.hero div:first-child {
  width: 60%;
}

.hero div:first-child img {
  position: relative;
  right: 100px;
}

.hero div:last-child {
  width: 30%;
}

.hero div:last-child h1 {
  color: #320839;
  font-size: 54px;
  line-height: 58px;
  margin: 10px 0;
}

.hero div:last-child h1 span {
  color: var(--primary);
}

.hero div:last-child p {
  background: linear-gradient(0deg, #e38a04, #e38a04);
  background-blend-mode: darken;
  border-radius: 30px;
  font-size: 25px;
  line-height: 41px;
  color: #ffffff;
  text-align: center;
  width: 80%;
}

/* About section */
.aboutSection {
  background-color: var(--dark-purple);
  box-shadow: 0px 10px 20px rgba(72, 72, 72, 0.25);
  border-radius: 20px;
  height: 100%;
  margin-right: 20px;
  padding: 48px 80px;
  width: 77%;
}

.aboutSection h2 {
  color: var(--primary);
  font-size: 30px;
}

.aboutSection h2 span {
  color: #ed23e5;
}

.hrs {
  display: flex;
  margin: 10px 0px;
}

.hrs hr {
  border: 2px solid var(--primary);
  border-radius: 20px;
  /*   margin: 0px 3px; */
}

.hrs hr:first-child {
  width: 17px;
}

.hrs hr:nth-child(2) {
  width: 23.41px;
  margin: 0px 3px;
}

.hrs hr:last-child {
  width: 72.28px;
}

.aboutSection p {
  color: var(--white);
  font-family: Roboto;
  text-align: justify;
}

/* Checkout */
.checkoutContain {
  align-items: center;
  background: #e38a04;
  box-shadow: 0px 10px 20px rgba(48, 48, 48, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px 0;
  padding: 48px 40px;
  width: 20%;
}

.checkoutContain i {
  color: #ffdede;
  font-size: 45px;
}

.checkoutContain h3 {
  color: var(--white);
  font-size: 32px;
  line-height: 35px;
  text-align: center;
}

/* Courses section */
.coursesSection {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  padding: 0 70px;
}

.text_contain {
  align-items: flex-start;
  flex-direction: column;
}
.text_contain h1 {
  font-family: "Alfa Slab One";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: #320839;
}

.text_contain p {
  font-family: Roboto;
}

/* Cover Section */
.coverSection {
  background-image: linear-gradient(
      to right,
      rgba(50, 8, 57),
      rgba(50, 8, 57, 0.87)
    ),
    url("../public/assets/kid-bg-image.jpg");
  margin-top: 40px;
  padding: 40px 0;
  width: 100%;
}

.coverSectionContent {
  display: flex;
  justify-content: space-around;
}

.cover_circle {
  align-items: center;
  background: rgba(181, 26, 174, 0.65);
  border-radius: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  text-align: center;
  width: 180px;
  height: 180px;
}

.cover_circle h3 {
  font-size: 40px;
  line-height: 40px;
  color: #ed23e5;
}

.cover_circle p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

/* Update section */
.updateSection {
  background-color: var(--brown);
  justify-content: center;
  padding: 30px 0;
}

.updateSection div:first-child h1 {
  color: var(--white);
  font-size: 30px;
  line-height: 30px;
  margin-right: 15px;
}

.updateSection div:first-child h1 span {
  color: #ffd99f;
}

.updateSection div:last-child {
  width: 45%;
}

.updateSection div:last-child {
  display: flex;
}

.updateSection div:last-child input {
  border-radius: 10px;
  font-family: Roboto;
  margin-right: 15px;
  padding: 10px 20px;
}

.updateSection div:last-child button {
  background: #ffd99f;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: var(--brown);
  cursor: pointer;
  font-family: Roboto;
  padding: 12px 20px;
  width: 30%;
}

@media screen and (max-width: 768px) {
  /* Hero section */
  .hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .hero div:first-child {
    margin-top: -100px;
    width: 100%;
  }

  .hero div:first-child img {
    object-fit: contain;
    right: 0px;
    position: initial !important;
    width: 400px;
  }

  .hero div:last-child {
    margin-top: -100px;
    width: 100%;
  }

  .hero div:last-child h1 {
    font-size: 40px;
    text-align: center;
  }

  .hero div:last-child p {
    font-size: 18px;
    width: 100%;
  }

  /* About section */
  .aboutCheckout {
    flex-direction: column;
  }

  .aboutSection {
    padding: 40px;
    text-align: center;
    width: 100%;
  }

  .hrs {
    justify-content: center !important;
  }

  .aboutSection p {
    line-height: 23px;
    text-align: center;
  }

  /* Checkout */
  .checkoutContain {
    padding: 40px;
    width: 100%;
  }

  .checkoutContain i {
    color: #ffdede;
    font-size: 45px;
  }

  .checkoutContain h3 {
    color: var(--white);
    font-size: 32px;
    line-height: 35px;
    text-align: center;
  }

  /* Courses section */
  .coursesSection {
    flex-direction: column;
  }

  .coursesContain {
    flex-direction: column;
  }

  .text_contain {
    align-items: center;
    flex-direction: column;
    margin-bottom: 14px;
    text-align: center;
  }

  .text_contain p {
    font-size: 18px;
    line-height: 30px;
  }

  /* Cover Section */
  .coverSectionContent {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .cover_circle {
    margin: 10px 0;
  }

  /* Update section */
  .updateSection {
    flex-direction: column;
  }

  .updateSection div:first-child h1 {
    margin-bottom: 10px;
    margin-right: 0px;
    text-align: center;
  }

  .updateSection div:last-child {
    flex-direction: column;
    padding: 0 30px;
    width: 100%;
  }

  .updateSection div:last-child button {
    margin: 8px auto;
    width: 40%;
  }
}
