/* Wrapper */
.wrapper {
  background-color: #f7f7f7;
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
}

/* Student Navbar */
.nav {
  align-items: center;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  padding: 30px 0;
  transition: ease-in-out 0.5s all;
  width: 100%;
}

.navFixed {
  box-shadow: 0px 14px 37px -25px rgba(0, 0, 0, 0.33);
  position: fixed;
  z-index: 100;
}

.ul {
  display: flex;
  justify-content: space-around;
  margin: 0px 40px;
}

.ul .link {
  color: var(--dark);
  font-family: Roboto;
  font-weight: 400;
  margin: 0px 12px;
}

.ul .link.active {
  color: var(--brown);
  font-weight: 700;
}

.endContain input {
  border: 1px solid #a9a9a9;
  width: 300px;
}

.endContain .auth {
  margin: auto 20px;
}

.endContain .auth .username {
  cursor: pointer;
  margin-left: 4px;
}

.endContain .auth .username p {
  color: var(--dark-purple);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

/* Body */
.mainContent {
  padding: 30px 0px;
}

/* Welcome text */
.welcomeText {
  margin: 13px 0;
}

.welcomeText h3 {
  color: var(--dark-purple);
  font-size: 24px;
}

.welcomeText p {
  color: var(--brown);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.topSection {
  align-items: center;
  justify-content: space-between;
}

/* Display cards */
.cards {
  width: 50%;
}

.card {
  align-items: center;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  height: 140px;
  justify-content: center;
  margin: 0px 7px;
  text-align: center;
  padding: 10px 20px;
}

.card i {
  color: var(--dark-purple);
  font-size: 40px;
  margin: 4px auto;
}

.card h3 {
  color: var(--white);
  font-family: "Alfa Slab One";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 140px;
}

/* Notifications */
.notifications {
  align-items: flex-start;
  border: 1px solid #e38a04;
  border-radius: 10px;
  flex-direction: column;
  height: 140px;
  justify-content: flex-start;
  padding: 10px 20px;
  width: 27%;
}

.notifications .title {
  color: var(--brown);
  font-weight: 400;
  font-size: 17px;
  margin: 3px 0;
}

.notifications .title i {
  color: #d1a666;
}

.notifications hr {
  border: 1px solid #ffdede;
  margin-top: 4px;
  width: 100%;
}

/* Notification */
.notifications .notification {
  font-family: Roboto;
  flex-direction: column;
  margin: 4px 0;
}

.notifications .notification .time {
  color: var(--white);
  font-weight: 700;
  font-size: 9px;
  line-height: 7px;
  background-color: var(--brown);
  border-radius: 30px;
  padding: 5px 10px;
  text-align: center;
}

.notifications .notification h5 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-left: 7px;
  overflow: hidden;
  width: 75%;
}

/* Middle section */
.middleSection {
  align-items: center;
  display: flex;
  margin: 35px 0;
  justify-content: space-between;
}

/* Subjects Contain  */
.subjects {
  width: 30%;
}

.subjects h3 {
  color: var(--primary);
  font-size: 22px;
  margin-bottom: 10px;
}

.subjects .subjectsCard {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex-direction: column;
  height: 190px;
  padding: 30px;
}

.subjects .subjectsCard .enrolled {
  align-self: end;
  font-family: Roboto;
  margin-bottom: 14px;
  text-align: right;
}

.subjects .subjectsCard .enrolled p {
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
}

.subjects .subjectsCard .enrolled p span {
  background: var(--primary);
  color: var(--white);
  border-radius: 3px;
  padding: 3px;
}

.subjects .subjectsCard .singleSubject {
  align-items: center;
  display: flex;
  font-family: Roboto;
  margin: 8px 0;
}

.subjects .subjectsCard .singleSubject i {
  color: #ffdede;
  font-size: 18px;
  margin-right: 10px;
}

.subjects .subjectsCard .singleSubject span {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.subjects .subjectsCard .viewBtn {
  background-color: var(--dark-purple);
  font-size: 11px;
  font-weight: 400;
  margin-top: 4px;
  padding: 7px 10px !important;
  width: 60%;
}

/* Dashboard report cards */
.reports {
  width: 45%;
}

.reports h3 {
  color: var(--brown);
  font-size: 22px;
  margin-bottom: 10px;
}

.reports .reportCards {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex-direction: column;
  height: 190px;
  padding: 30px;
}

.reports .reportCards .singleReport {
  align-items: center;
  display: flex;
  font-family: Roboto;
  justify-content: space-between;
  margin: 8px 0;
}

.reports .reportCards .singleReport .textContain {
  width: 70%;
}

.reports .reportCards .singleReport .textContain i {
  color: #ffd99f;
  font-size: 18px;
  margin-right: 10px;
}

.reports .reportCards .singleReport .textContain span {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.reports .reportCards .singleReport .reportBtn {
  background-color: #ffd99f;
  border-radius: 20px;
  color: var(--brown);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  padding: 4px 0px !important;
  width: 30%;
}

.resourcesDownload {
  width: 20%;
  margin-top: -60px;
}

.resourcesDownload button {
  background: #f2d8ff;
  border-radius: 10px;
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  margin: 10px 0;
}

.resourcesDownload button i {
  color: var(--pink);
  margin-right: 10px;
}

.viewReportsBtn {
  background-color: #b37600 !important;
  font-size: 11px;
  font-weight: 400;
  margin-top: 10px;
  padding: 7px 10px !important;
  width: 40% !important;
}

/* Dashboard -> Bottom section */
.bottomSection {
  align-items: center;
  display: flex;
}

.bottomSection .exams {
  width: 75%;
}

.bottomSection .exams h3 {
  color: var(--primary);
  font-size: 22px;
  margin-bottom: 10px;
}

.bottomSection .exams .examsCard {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  height: 190px;
  padding: 20px 0px;
}

.bottomSection .exams .examsCard .viewExams {
  background-color: var(--dark-purple);
  font-size: 11px;
  font-weight: 400;
  margin: 0px 15px;
  padding: 7px 10px !important;
  width: 40% !important;
}

/* Dashboard -> Forum */
.forumContain {
  margin-left: 20px;
  width: 30%;
}

.forumContain h3 {
  color: var(--brown);
  font-size: 22px;
  margin-bottom: 10px;
}

.forumCard {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex-direction: column;
  height: 190px;
  padding: 30px;
}

.forumCard .forums {
}

.forumCard .singleForum {
  align-items: center;
  display: flex;
  font-family: Roboto;
  margin-bottom: 10px;
}

.forumCard .singleForum p {
  font-weight: 300;
}

.forumCard .singleForum span {
  color: var(--brown);
  font-weight: 400;
  font-size: 16px;
}

/* All subjects */
.allSubjects {
  margin-top: 20px;
}

.allSubjects .topTextContain {
  margin-bottom: 27px;
}

.allSubjects .topTextContain div:first-child {
  margin-bottom: 10px;
}

.allSubjects .topTextContain div:first-child h2 {
  color: var(--dark-purple);
  font-size: 30px;
}

.allSubjects .topTextContain div:first-child p {
  color: var(--primary);
  font-family: Roboto;
}

.allSubjects .topTextContain div:first-child p span {
  text-transform: capitalize !important;
}

.allSubjects .topTextContain hr {
  border: 1px solid #f2f2f2;
}

/* Single subject */
.annoucement {
  background-color: var(--brown);
  box-shadow: 0px 5px 20px rgba(141, 129, 129, 0.25);
  border-radius: 30px;
  margin: 20px 0px;
  padding: 10px;
}

.annoucement .bellCircle {
  background: #ffd99f;
  border-radius: 30px;
  height: 30px;
  justify-content: center;
  /*   margin: 0px 10px; */
  margin-left: 8px;
  margin-right: 14px;
  width: 30px;
}

.annoucement .bellCircle i {
  color: var(--brown);
}

.annoucement p {
  color: var(--white);
  font-size: 16px;
}

/* Subject Contain */
.subjectContain {
  grid-gap: 40px;
  /*   margin-top: 30px; */
}

.subjectContain .leftSide {
  height: 100%;
}

.subjectContain .leftSide .subjectDesc {
  align-items: center;
  display: flex;
}

.subjectContain .leftSide .subjectDesc .subjectIcon {
  margin-right: 70px;
}

.subjectContain .leftSide .subjectDesc .subjectIcon i {
  color: var(--pink);
  font-size: 30px;
}

.subjectContain .leftSide .subjectDesc .desc h2 {
  color: var(--dark-purple);
  font-size: 40px;
}

.subjectContain .leftSide .subjectDesc .desc .descText {
  color: var(--dark);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}

.subjectContain .leftSide .subjectDesc .desc .subjectMeta {
  background-color: var(--dark-purple);
  border-radius: 4px;
  color: #f2d8ff;
  font-size: 14px;
  margin-top: 8px;
  padding: 7px 10px;
}

.subjectContain .leftSide .subjectDesc .desc .subjectMeta p span {
  font-family: Roboto;
  font-weight: 300;
}

/* Subject -> Collapse */
.collapse {
  border: 1px solid var(--dark);
  border-radius: 10px;
  margin: 15px 0;
}

.collapse .toggleContain {
  cursor: pointer;
  padding: 10px 20px;
}

.collapse .collapseBody {
  align-items: flex-start;
  flex-direction: column;
  height: 0px;
  overflow: hidden;
  transition: 0.4s all ease-in-out;
  width: 100%;
}

.collapse .collapseBody > * {
  padding: 30px;
}

.collapse .collapseBody.collapseExpanded {
  height: fit-content;
  transition: 0.4s all ease-in-out;
}

.collapse .collapseBody .collapseContent {
  font-family: Roboto;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding: 10px 20px;
  width: 100%;
}

.collapse .collapseBody .collapseContent li {
  color: #000000;
  font-weight: 300;
  list-style: disc;
  margin: 8px 10px;
}

.subjectContain .leftSide .subjectButtons button {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  /* @Media->Wrapper */
  .wrapper {
    background-color: #f2f2f2;
    height: 100% !important;
  }

  /* @Media->Welcome text */
  .welcomeText {
    text-align: center;
  }

  .welcomeText h3 {
    font-size: 26px;
  }

  .welcomeText p {
    font-weight: 400;
  }

  /* @media -> Top section */
  .topSection {
    flex-direction: column-reverse;
  }

  /* @media -> Display cards */
  .cards {
    flex-direction: column;
    width: 100%;
  }

  .card {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 10px 0;
    padding: 40px 0px;
    width: 100%;
  }

  .card h3 {
    font-size: 17px;
    line-height: initial;
    width: 160px;
  }

  /* @media -> Notifications */
  .notifications {
    height: 100%;
    margin: 10px 0;
    padding: 20px;
    width: 100%;
  }

  /* @media -> Notification */
  .notifications .notification {
    font-family: Roboto;
    flex-direction: column;
    margin: 4px 0;
  }

  .notifications .notification .time {
    color: var(--white);
    font-weight: 700;
    font-size: 9px;
    line-height: 7px;
    background-color: var(--brown);
    border-radius: 30px;
    padding: 5px 10px;
    text-align: center;
  }

  .notifications .notification h5 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-left: 7px;
    overflow: hidden;
    width: 75%;
  }

  /* @media -> Middle section */
  .middleSection {
    flex-direction: column;
    margin: 10px 0;
  }

  /* @media -> Subjects Contain  */
  .subjects {
    width: 100%;
    margin: 10px 0px;
  }

  .subjects h3 {
    color: var(--primary);
    font-size: 22px;
    margin-bottom: 10px;
  }

  .subjects .subjectsCard {
    height: 100%;
  }

  .subjects .subjectsCard .viewBtn {
    justify-self: center;
    margin: 8px auto;
    padding: 10px !important;
    width: 100%;
  }

  /* @media -> Dashboard report cards */
  .reports {
    margin: 10px 0;
    width: 100%;
  }

  .reports .reportCards {
    height: 100%;
  }

  .reports .reportCards .singleReport {
    align-items: flex-end;
    flex-direction: column;
    margin: 10px 0px;
    text-align: left;
  }

  .reports .reportCards .singleReport .textContain {
    text-align: center;
    width: 100%;
  }

  .reports .reportCards .singleReport .textContain span {
    font-size: 18px;
  }

  .reports .reportCards .singleReport .reportBtn {
    width: 40%;
  }

  .viewReportsBtn {
    margin-top: 4px;
    padding: 7px 10px !important;
    width: 100% !important;
  }

  /* @media -> Resources download */
  .resourcesDownload {
    width: 100%;
    margin: 10px 0px;
  }

  .resourcesDownload button {
    font-size: 13px;
  }

  /* @media -> Bottom section */
  .bottomSection {
    flex-direction: column;
    margin: 10px 0;
  }

  .bottomSection .exams {
    margin: 10px 0;
    width: 100%;
  }

  .bottomSection .exams .examsCard {
    flex-direction: column;
    height: 100%;
    padding: 30px;
  }

  .bottomSection .exams .examsCard .viewExams {
    margin: 10px 0;
    width: 100% !important;
  }

  /* @media -> Forum */
  .forumContain {
    margin: 10px 0px;
    width: 100%;
  }

  .forumContain h3 {
    color: var(--brown);
    font-size: 22px;
    margin-bottom: 10px;
  }

  .forumCard {
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex-direction: column;
    height: 190px;
    padding: 30px;
  }

  .forumCard .forums {
  }

  .forumCard .singleForum {
    align-items: center;
    display: flex;
    font-family: Roboto;
    margin-bottom: 10px;
  }

  .forumCard .singleForum p {
    font-weight: 300;
  }

  .forumCard .singleForum span {
    color: var(--brown);
    font-weight: 400;
    font-size: 16px;
  }
}
